<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel='stylesheet' href='/public/stylesheets/theme-gray-all.css'>
  <style>
    .info {
      width: 1000px;
      background: mediumturquoise;
    }

    .jindu {
      background: cadetblue;
    }
  </style>
</head>

<body>


</body>
<script src="/public/javascripts/ext-all.js"></script>

<script>
  Ext.onReady(function () {
    Ext.define("AccountManagerGrid", {
      extend: "Ext.grid.Panel",
      title: "账号管理",
      tbar: [{
          text: "增加账号",
          handler: function () {
            Ext.create("Ext.window.Window", {
              title: "增加账号",
              autoShow: true,
              items: {
                xtype: "form",
                defaultType: "textfield",
                items: [{
                    fieldLabel: "用户名",
                    name: "username",
                  },
                  {
                    fieldLabel: "密码",
                    name: "password"
                  },
                  {
                    xtype: "button",
                    text: "登录",
                    handler: function () {
                      this.up("form").submit({
                        url: "/addAccount",
                        success: function (form, action) {
                          console.log("success", arguments)
                        },
                        failure: function (form, action) {
                          console.log("failure", arguments)
                        }
                      })
                    }
                  }
                ]
              }
            })
          }
        },
        {
          text: "删除账号",
          handler: function () {

          }
        }
      ],
      store: {
        fields: ["username", "password", "cookie"],
        data: [{
          username: "1",
          password: "1",
          cookie: "1"
        }, {
          username: "1",
          password: "1",
          cookie: "1"
        }]
      },
      columns: [{
          text: '账号',
          dataIndex: 'username',
          flex: 1
        },
        {
          text: '密码',
          dataIndex: 'password',
        },
        {
          text: 'cookie',
          dataIndex: 'cookie',
        }
      ]
    })

    Ext.define("MainPanel", {
      extend: "Ext.tab.Panel",
      title: "夺宝岛",
      items: [{
        title: "账号管理",
        items: Ext.create("AccountManagerGrid")
      }, {
        title: "啊啊啊"
      }]
    })

    Ext.create("MainPanel", {
      renderTo: Ext.getBody(),
    })

  })

  //Ext.Msg.alert("ad")
</script>

</html>